.beerProps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}

.propName {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 0 50px;
}

.propValue {
  align-self: center;
  justify-self: start;
}
