.cardGroup {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-content: baseline;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 3px 6px lightgrey;
}

.imageSection {
  display: flex;
  align-items: baseline;
  justify-content: right;
  align-self: center;
  background: linear-gradient(90deg, #ff5140 75px, #ffffff00 0%);
  height: 50%;
  width: 40%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
  width: 100%;
  height: 70%;
}

.cardImage {
  overflow: visible;
  max-width: 100px;
  max-height: 235px;
  margin-top: 30px;
  filter: drop-shadow(13px 13px 17px #2525256c);
}
