.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
  width: fit-content;
  padding: 0 0 10px 0;
  border-bottom: 2px solid black;
  margin: 20px auto;
}

.tagline {
  text-transform: uppercase;
}

.btn {
  font-weight: 500;
  background-color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 24px;
  border: thin solid black;
  cursor: pointer;
}

.cardBtn {
  margin: 0 auto;
}

.cardBtn:hover {
  color: white;
  background-color: #ff5140;
  border: thin solid #ff5140;
}

.textLink {
  color: inherit;
  text-decoration: inherit;
}
