.beerInfoPage {
  width: 600px;
  padding: 30px 0 15px 15px;
  margin: 0 auto 30px auto;
  border-radius: 5px;
  box-shadow: 0 0 6px lightgrey;
}

.beerInfoHeader {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.beerInfo {
  width: 70%;
  padding: 0 20px 0 0;
}

.beerDescription {
  text-align: left;
  padding: 0 50px 15px 50px;
}
